<template name="home">
    <div class="navbar-fixed red darken-4">
        <nav class="red darken-4">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#!" class="brand-logo title center">U2TR</a> {{#if home}}
                    <a href="" onclick="FlowRouter.go('/profile')" class="fa fa-gear"></a>{{else}}<a onclick="history.back();"><i class="fa fa-arrow-left"></i></a>{{/if}}
                </div>
            </div>
        </nav>
    </div>
    {{> Template.dynamic template=template}}
    <script type="text/javascript">
    $("body").css('background', '#FFF');
    $(".fa-gear").css('font-size', $(".brand-logo").css('font-size'))
    </script>
</template>
