<template name="map">
    <div class="map-container" align="center" style="width: 100%">
        <div id="map"></div>
        <h1 class="element" style="position: fixed;width: 100%;z-index: 100">x</h1>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?callback=intialize" async defer></script>
    <script>
    var mapCanvas;
    console.log(Session.get('loc').curValue.lat)

    function intialize() {
        //Create a map
        mapCanvas = new google.maps.Map(document.getElementById("map"));
        if (!Session.get('coords')) {
            mapCanvas.setCenter(new google.maps.LatLng(Session.get('loc').curValue.lat, Session.get('loc').curValue.lng));
            mapCanvas.setZoom(13);
        } else {
            mapCanvas.setCenter(new google.maps.LatLng(parseFloat(Session.get('coords').split(',')[0]), parseFloat(Session.get('coords').split(',')[1])));
            mapCanvas.setZoom(15);
        }
        mapCanvas.setMapTypeId(google.maps.MapTypeId.ROADMAP);

        //Retrive the center location
        google.maps.event.addListener(mapCanvas, "center_changed", function() {
            Session.set('coords', mapCanvas.getCenter().toUrlValue())
        });

    }
    google.maps.event.addDomListener(window, "load", intialize);

    function getcenter() {
        console.log(Session.get('coords'));
        history.back();
    }
    $(".map-container").css('height', $(window).height() - $(".navbar-fixed").height())
    $("#map").css('height', $(window).height() - $(".navbar-fixed").height())
    </script>
</template>
